.frame {
    width: 100%;
    height: 80px;
    font-size: 22px;
    position: fixed;
    font-family: Arial, sans-serif;
    z-index: 1000;
    background: url('../Assets/light.png') no-repeat center center;
    background-size: cover;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, yellow, orange) 2 round;
}

.nav-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.nav-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-link,
.nav-sign,
.nav-logout {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover,
.nav-button-link:hover {
    color: #408EA7;
}

.nav-link-drop {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
}

.nav-link-drop:hover {
    color: #408EA7;
}

.company-logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.company-name {
    color: white;
}

.nav-toggle-button {
    display: none;
    font-size: 22px;
    background-color: transparent;
    width: 40px;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    flex-direction: column;
    background-color: #222b51;
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 40px);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-dropdown.show {
    display: flex;
}

.user-dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #222b51;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-dropdown-menu.show {
    display: flex;
}

.nav-link-li{
    text-decoration: none;
}

.user-dropdown li {
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #444;
}

.user-dropdown:hover li {
    color: #408EA7;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .frame {
        font-size: 22px;
    }

    .nav-child {
        gap: 15px;
    }

    .company-logo {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1220px) {
    .frame {
        font-size: 22px;
    }

    .nav-child {
        display: none;
    }

    .nav-toggle-button {
        display: block;
    }

    .nav-dropdown {
        flex-direction: column;
        background-color: #222b51;
        position: absolute;
        top: 80px;
        right: 20px;
        width: calc(100% - 40px);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav-dropdown .nav-link {
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    .nav-dropdown .nav-link:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 599px) {
    .frame {
        font-size: 20px;
    }

    .nav-dropdown {
        flex-direction: column;
        background-color: #222b51;
        position: absolute;
        top: 80px;
        right: 20px;
        width: calc(100% - 40px);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav-dropdown .nav-link {
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    .nav-dropdown .nav-link:last-child {
        border-bottom: none;
    }
}