.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.parent-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container, .signup-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: auto;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
    position: relative;
    margin: 20px;
}

.left, .right, .signup-left, .signup-right {
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    
}

.signup-right{
    background-color: #e9eef5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-color: #e9eef5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right, .signup-left {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2, .signup-left h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group, .signup-form-group {
    margin-bottom: 15px;
}

.form-group label, .signup-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.form-group input, .signup-form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.log-res {
    width: 100%;
    padding: 10px;
    background-color: #2666c5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.log-res:hover {
    background-color: #0056b3;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.signup-links{
    padding-top: 20px ;
}

.links a, .signup-links a {
    color: #2666c5;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover, .signup-links a:hover {
    text-decoration: underline;
}

.login-home-link, .signup-home-link {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #2666c5;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.signup-home-link {
    right: 20px;
    left: auto;
}

/* Responsive Styles */
@media (max-width: 599px) {
    .container, .signup-container {
        flex-direction: column;
        width: 400px;
        margin: 10px;
    }

    .right, .left, .signup-right, .signup-left {
        width: 100%;
    }

    .right {
        height: 360px;
        order: 2; /* Display .right (or .signup-right) second */
    } 
    .signup-right{
        height: 200px;
    }


    .signup-left {
        height: 520px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .left{
        height: 200px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .login-home-link, .signup-home-link {
        bottom: 10px;
        font-size: 14px;
    }

    .log-res {
        font-size: 14px;
    }

    .links a, .signup-links a {
        font-size: 12px;
    }
}

@media (max-width: 599px) and (min-width: 349px) {

    .container, .signup-container {
        flex-direction: column;
        width: 300px; /* Adjust width as needed */
        margin: 10px;
    }
    .right, .left, .signup-right, .signup-left {
        width: 100%;
    }

    .right {
        height: 360px;
        order: 2; /* Display .right (or .signup-right) second */
    } 
    .signup-right{
        height: 200px;
    }


    .signup-left {
        height: 520px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .left{
        height: 200px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .login-home-link, .signup-home-link {
        bottom: 10px;
        font-size: 14px;
    }

    .log-res {
        font-size: 14px;
    }

    .links a, .signup-links a {
        font-size: 12px;
    }
}

/* Responsive Styles for Screen Widths below 350px */
@media (max-width: 339px) {
    .container, .signup-container {
        flex-direction: column;
        width: 280px; /* Adjust width as needed */
        margin: 10px;
    }

    .right, .left, .signup-right, .signup-left {
        width: 100%;
    }

    .right {
        height: 350px;
        order: 2; /* Display .right (or .signup-right) second */
    } 
    .signup-right{
        height: 180px;
    }


    .signup-left {
        height: 520px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .left{
        height: 180px;
        order: 1; /* Display .left (or .signup-left) first */
    }

    .login-home-link, .signup-home-link {
        bottom: 10px;
        font-size: 12px;
    }

    .log-res {
        font-size: 12px;
    }

    .links a, .signup-links a {
        font-size: 10px;
    }
}




@media (min-width: 600px) {
    .container, .signup-container {
        flex-direction: row;
        width: 550px;
        height: 500px;
    }

    .left, .right, .signup-left, .signup-right {
        width: 50%;
    }

    .login-home-link, .signup-home-link {
        font-size: 16px;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .container, .signup-container {
        flex-direction: row;
        width: 700px;
        height: 500px;
    }

    .left, .right, .signup-left, .signup-right {
        width: 50%;
    }

    .login-home-link, .signup-home-link {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .container, .signup-container {
        flex-direction: row;
        width: 800px;
        height: 500px;
    }

    .left, .right, .signup-left, .signup-right {
        width: 50%;
    }

    .login-home-link, .signup-home-link {
        font-size: 16px;
    }
}
