/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #7b888d;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/* Custom Carousel Section */
.custom-carousel-section {
  padding-top: 80px;
}

/* Item Display */
.item-display {
  width: 100%;
  padding: 10px;
  background-color: #7b888d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-showcase {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* Center items horizontally */
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  position: relative;
  flex: 1 1 30%;
  /* Adjusted for responsiveness */
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image-wrapper {
  position: relative;
  width: 280px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.item-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.item-card:hover .item-image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.item-card:hover .overlay {
  opacity: 1;
}

.view-details-button {
  background-color: #ff4d4d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-details-button:hover {
  background-color: #e60000;
}

.item-title {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

/* Slogan Section */
.slogan {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xxx-large;
  text-align: center;
  background-color: #a3a3a3;
  background: url('../Assets/slogan_bg.jpg') center center;
  text-shadow: 2px 2px yellow;
  color: rgb(255, 255, 249);
  padding: 5px;
  margin: 0;
  border-radius: 5px;
}

.slogan_client {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xxx-large;
  text-align: center;
  background-color: #7b888d;
  text-shadow: 5px 5px rgba(5, 58, 102, 0.897);
  ;
  color: rgb(255, 255, 249);
  padding: 5px;
  margin: 0;
}

/* Custom Showcase */
.custom-showcase {
  display: flex;
  flex-direction: row;
  /* Default to row layout */
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #7b888d;
}

.display-info {
  display: flex;
  flex-direction: row;
  /* Default to row layout */
  width: 100%;
  align-items: center;
  gap: 20px;
}

.desc {
  text-align: center;
  padding: 10px;
}

.desc-info {
  color: black;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc-list {
  color: black;
  font-size: large;
}

.info-img {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-img img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.desc-btn {
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s;
}

.desc-btn:hover {
  background-color: #900000;
}

/* Client Section */
.client-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  align-items: center;
  font-size: xx-large;
  background-color: #7b888d;
}

.client-item {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: wheat;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.897);
}

.client-item:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 4px 4px 4px 4px rgba(1, 10, 10, 0.897);
}

.client-img {
  height: 100%;
  width: 100%;
}


/* Slider Section */
.headline-container p {
  font-size: 42px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 120px;
  left: 50px;
  color: rgb(255, 255, 255);
}

.headline-container h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 90px;
  left: 60px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.loader-load {
  margin-bottom: 5px;
  animation: spin 2s linear infinite;
}

.loader-load img {
  width: 50px;
  height: auto;
}


.services-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 0px 20px 40px 20px;
  background-color: #7b888d;
}

.services-objective,
.services-technology {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  padding: 0px 20px 40px 20px;
  background-color: #7b888d;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.image-objective {
  width: 280px;
  height: 200px;
  border-radius: 30px;
  padding: 20px 0px;
}

.technology-description,
.objective-description {
  color: black;
  font-size: large;
  margin-bottom: 20px;
  text-align: center;
}

.image-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.quote,
.machine-title,
.technology-quote {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.product-section {
  padding: 20px;
}

/* Default Row Layout for .product-info */
.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Default Row Layout for .display-attributes and .storage-cubicals */
.display-attributes,
.storage-cubicals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
}


/* Content Containers */
.product-description,
.attribute-info,
.storage-info {
  text-align: justify;
  padding: 0 20px;
}

.attribute-center,
.storage-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.attribute-image,
.storage-image,
.product-image {
  width: 48%;
  height: auto;
  border-radius: 10px;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.load p {
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, blue, lightblue, red);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: gradientMove 2s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}


/* Responsive Styles */
@media (max-width: 1920px) {
  .item-card {
    flex: 1 1 30%;
  }
  .display-attributes,
  .storage-cubicals {
    margin: 10px 100px;
  }

}

@media (max-width: 1600px) {
  .item-card {
    flex: 1 1 30%;
  }

  .display-attributes,
  .storage-cubicals {
    margin: 10px 80px;
  }
}

@media (max-width: 1200px) {
  .item-showcase {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-card {
    flex: 1 1 45%;
    margin: 10px 0;
  }

  .info-img {
    width: 250px;
    height: 250px;
  }

  .desc {
    margin-left: 5%;
    margin-right: 5%;
  }

  .custom-showcase {
    flex-direction: row;
    /* Column layout for tablets */
  }

  .display-info {
    padding: 20px 10px;
    flex-direction: column;
    /* Column layout for tablets */
    width: 100%;
  }

  .desc-btn {
    text-align: center;
    margin-top: 20px;
  }

  .display-attributes,
  .storage-cubicals {
    margin: 10px 60px;
  }

}

@media (max-width: 1124px) {
  .product-info {
    flex-direction: column;
    align-items: center;
  }

  .product-description {
    width: 100%;
    padding: 10px 0;
  }

  .product-image {
    width: 100%;
    border-radius: 10px;
  }

  .display-attributes,
  .storage-cubicals {
    margin: 10px 40px;
  }

}

@media (max-width: 768px) {
  .item-card {
    flex: 1 1 100%;
  }

  .slogan {
    font-size: x-large;
    padding: 15px;
  }

  .desc {
    margin-left: 5%;
    margin-right: 5%;
  }

  .info-img {
    width: 250px;
    height: 250px;
  }

  .desc-btn {
    font-size: medium;
    padding: 8px 16px;
  }

  .custom-showcase {
    flex-direction: column;
    /* Column layout for tablets and phones */
  }

  .display-info {
    flex-direction: column;
    /* Column layout for tablets and phones */
  }

  .heading-client {
    flex-direction: column;
    /* Switch to column layout for tablets and smaller screens */
  }

  .services-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .services-objective,
  .services-technology {
    padding: 0px 20px 20px 20px;
  }

  .image-objective {
    width: 100%;
    height: auto;
  }

  .display-attributes,
  .storage-cubicals {
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
  }

  .attribute-info,
  .storage-info,
  .product-description {
    padding: 10px 0;
  }

  .product-image {
    width: 100%;
    border-radius: 10px;
  }

  .attribute-image {
    width: 100%;
    order: -1;

  }

  .storage-image {
    width: 100%;
  }

  .client-header {
    flex-direction: column;
    align-items: center;
  }

  .client-item {
    width: 80%;
    max-width: none;
    margin-bottom: 20px;
  }

  .client-item:last-child {
    margin-bottom: 0;
  }

}

@media (max-width: 567px) {
  .item-card {
    flex: 1 1 100%;
  }

  .slogan {
    font-size: large;
    margin-bottom: 20px;
    padding: 10px;
  }

  .desc {
    margin-left: 5%;
    margin-right: 5%;
  }

  .info-img {
    width: 200px;
    height: 200px;
  }

  .desc-btn {
    font-size: small;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .item-card {
    flex: 1 1 100%;
  }

  .slogan {
    font-size: large;
    margin-bottom: 20px;
    padding: 10px;
  }

  .desc {
    margin-left: 5%;
    margin-right: 5%;
  }

  .info-img {
    width: 200px;
    height: 200px;
  }

  .desc-btn {
    font-size: small;
    padding: 8px 12px;
  }

}

@media (max-width: 350px) {
  .slogan {
    font-size: medium;
    margin-bottom: 20px;
    padding: 8px;
  }

  .item-card {
    flex: 1 1 100%;
    padding: 10px;
  }

  .desc {
    margin-left: 2%;
    margin-right: 2%;
  }

  .info-img {
    width: 180px;
    height: 180px;
  }

  .desc-btn {
    font-size: small;
    padding: 5px 10px;
  }
}